<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="https://github.com/xiaoxiaofan123/cordova-plugin-demo"
        id="cordova-plugin-demo" version="1.0.0">
    <name>Demo</name>
    <description>Cordova Plugin Demo</description>
    <license>Cordova</license>
    <keywords>cordova,demo</keywords>


<js-module src="www/Demo.js" name="Demo">
        <clobbers target="cordova.demoPlugin" />
</js-module>

 <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Demo">
                <param name="ios-package" value="ESDemo"/>
            </feature>
        </config-file>

        <header-file src="src/ios/ESDemo.h" />
        <source-file src="src/ios/ESDemo.m" />
 </platform>

</plugin>